body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pagamentoCartao {
    background-color: #F4F4F4;
    width: 300px;
    height: auto;
}

.pagamento {
    padding: 5px;
    text-align: justify;
    height: 180px;
}

.politica {
    display: flex;
    padding: 10px;
    margin-bottom: 15px;
    
}

.checkboxFinalizar {
    margin-top: 20px;
    margin-right: 10px;
}

.Prazo {
    background-color: #F4F4F4;
    width: 300px;
    height: 60px;
}

.Prazo2 {
    background-color: #F4F4F4;
    width: 300px;
    height: 60px;
}

button {
    width: 75%;
    padding: 10px;
    border-radius: 4px;
    background-color: #32BBFF;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 10px;
    border-color: #32BBFF;
}

.botaoPagamento {
    display: flex;
    justify-content: center;
    align-items: center;
}